* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    -webkit-text-size-adjust: none;
}

img {
    width: 100%;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    background-image: url('imagenes/teclado.jpg');
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center right;
}

.login {
    width: 350px;
    /* padding: 100px 0; */
}

.login .login__form {
    width: 100%;
    padding: 20px 20px;
    margin: 0 auto;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_usuario {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.login .conjuntoInput {
    position: relative;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
}

.login .login__form i {
    /* width: 20px; */
    position: absolute;
    bottom: 15px;
    left: 20px; 
    color: #ced4da; 
}

.login .login__form input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    /* border: 2px solid #f8f9fa; */
    /* border-radius: 5px; */
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
    background: transparent;
    border: none;
    border-bottom: 1px solid #adb5bd;
    color: white;
}

.login .login__form input::placeholder {
    color: #adb5bd;
}

.login .login__form input::-ms-reveal {
    display: none;
}
  

.login .login__form input:focus {
    border-color: white;
}

.login .conjuntoInput:focus-within i{
    color: white;
}

.login .conjuntoInput #mostrarContraseña {
    position: absolute;
    top: 10px;
    left: 230px;
}


.login .login__form .vinculo-arriba {
    margin-bottom: 35px;
}

.login .login__form .vinculos {
    color: #adb5bd;
    
}

.login .login__form .vinculos:hover {
    color: #f8f9fa;
}

.login .login__form .contenedorBoton {
    padding: 0 19px;
    width: 100%;
    margin: 10px 0 25px;
}

.login .login__form .botonEnviar {
    background-color: #325f7e;
    border: none;
    border-radius: 10px;
    
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.login .login__form .botonEnviar:hover {
    background-color: #284b63; 
}
  
@media only screen and (min-width: 600px) {
    #login {
        background-position: center top;
    }

    .login .login__form {
        backdrop-filter: blur(8px);
    }

    .login .conjuntoInput #mostrarContraseña {
        left: 256px;
    }
}

  
  